.body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.counter-container {
  display: flex;
  gap: 2rem;

  background-color: gainsboro;
  padding: 1rem; 
  border-radius: 0.5rem;
}

input[type="button"] {
  border: 0;
  background-color: white;
}
